@charset "UTF8";
/* zera as margens de todos arquivos html*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box; /* Garante que a largura e a altura incluam o preenchimento e a borda, mas não a margem */
 }

 /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
configura todos os bodys dos arquivos html */

 body{
      background-color: #E198B3;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
pertence ao arquivo index.html */

 .logo img {
          max-width: 100%; /* Imagens responsivas */
          height: auto;
}

 /*Esse trecho abaixo define duas classes, ".apresentacao" e ".menu",
     e aplica a propriedade "display: inline-block;" a ambas. 
     Isso significa que os elementos HTML que possuem essas classes serão
     exibidos como blocos que fluem em linha com outros elementos, permitindo
     que outros elementos fiquem ao lado deles na mesma linha,
     como em um menu horizontal, por exemplo.*/

 .apresentacao,
 .menu {
     display: inline-block; /* descrito acima*/
     vertical-align: top; /* ou middle, bottom, etc, dependendo do alinhamento desejado */
     width: calc(50% - 20px); /* Calcule a largura de cada div, descontando a margem horizontal */
     margin: 0 20px; /* Adicione margem entre as divs */  
}

 .apresentacao{
    font-size: 2rem; /* Unidade de medida relativa */
    color: #FFF;
    text-align: justify;
    max-width: 100%; /* Responsivo */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 20px; /* Preenchimento interno */
}

.menu >a {  /*  Está selecionando todos os elementos <a> que são filhos diretos de elementos com a classe .menu. Para aplicar estilos específicos apenas aos links dentro de um menu específico.*/
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
              
}

.menu{
    background-color: #FFB6C9;
    width: 45%; /* Responsivo e define a largura da div menu*/
    border-radius: 20px;
    text-align: center;  /* Centraliza os links horizontalmente */
    padding: 20px;
    margin: 0 auto; /* Centraliza a div menu na tela */
   /* justify-content: center;
    align-items: center;*/
}   

div.localizacao {
   
    width: 90%;
    margin: 0px auto; /* Centraliza horizontalmente */
    text-align: right;
    padding: 2px;
    border-radius: 10px;
}
.roda_pe{
    background-color: white;
    /*color: #FFF;*/
    margin-top: 5px;
    padding: 7px;
    /*text-align: center;*/
    border-radius: 5px;
    /*font-size: 0.8rem;*/
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    .apresentacao {
        font-size: 1.5rem; /* Reduz o tamanho da fonte */
        width: 90%; /* Ajusta a largura */
    }
    
    .menu {
        flex-direction: column; /* Altera a direção dos itens */
        height: auto; /* Altura automática */
    }
    
    .menu a {
        font-size: 2rem; /* Ajusta o tamanho da fonte */
        margin-bottom: 10px; /* Espaçamento entre os links */
    }
    
    div.localizacao {
        width: 95%; /* Ajusta a largura */
    }
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
pertence ao arquivo contato.html */

.contato{
    width: 100%; /* Define a largura como 100% */
    height: auto; /* Define a altura como 100% da altura do viewport */
    margin-left: 15%; /* distancia entre as divs */
}
.contato img {
    
    width: 75%; /* largura desejada */
    height: auto; /* altura desejada */
}

.volta >a { /*  Está selecionando todos os elementos <a> que são filhos diretos de elementos com a classe .menu. Para aplicar estilos específicos apenas aos links dentro de um menu específico.*/
               color: white;
               text-decoration: none;
               font-size: 45px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
pertence ao arquivo menu.html */

.tabela-container {
    width: 50% ;
    margin: 0 auto;
    padding-top: 50px; /* Adiciona 50 pixels de espaço acima da tabela */
    color: rgb(255,255,255); /*cor de fundo do texto*/
    font-size: 44px;   /* tamanho da fonte*/
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 55px;   /* tamanho da fonte*/   
  text-align: center;
}
td {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
}

img {
  vertical-align: middle; /* Para alinhar verticalmente com o texto */
  margin-right: 5px; /* Para adicionar um espaço entre a imagem e o link */
}

a {
  text-decoration: none;
  color: blue;
}

.volta2{
    margin-left: 1px; /*Define a margem esquerda de um elemento para 100 pixels.*/ 
    text-align: left; /* Alinha o conteúdo a esquerda
.volta2 >a { /*  Está selecionando todos os elementos <a> que são filhos diretos de elementos com a classe .menu. Para aplicar estilos específicos apenas aos links dentro de um menu específico.*/
               color: white;
               text-decoration: none;
               font-size: 20px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
pertence ao arquivo sobre_nos.html */

.sobre_nos {
    background-color: #E198B3;
    width: 100%; /* Define a largura como 100% */
    height: 100vh; /* Define a altura como 100% da altura do viewport */
    margin-left: 0px; /*Define a margem esquerda de um elemento para 100 pixels.*/ 
    border: 0px solid black; /* Apenas para visualização neste caso não visivel */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites da div */
    text-align: center; /* Alinha o conteúdo ao centro */
}
 .sobre_nos img {
    max-width: 100%; /* Define a largura máxima da imagem como 100% da largura da div */
    height: auto; /* Mantém a proporção da imagem */
    display: inline-block; /* Garante que a imagem seja tratada como um elemento de bloco em linha */
}

.volta3{
    margin-left: 1px; /*Define a margem esquerda de um elemento para 100 pixels.*/ 
    text-align: left; /* Alinha o conteúdo ao centro */ 
}

.volta3 >a { /*  Está selecionando todos os elementos <a> que são filhos diretos de elementos com a classe .menu. Para aplicar estilos específicos apenas aos links dentro de um menu específico.*/
               color: white;
               text-decoration: none;
               font-size: 20px;

}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
pertence ao arquivo fale_conosco.html */

.volta4{
    margin-left: 1px; /*Define a margem esquerda de um elemento para 100 pixels.*/ 
    text-align: left; /* Alinha o conteúdo ao centro */ 
}

.volta4 >a { /*  Está selecionando todos os elementos <a> que são filhos diretos de elementos com a classe .menu. Para aplicar estilos específicos apenas aos links dentro de um menu específico.*/
               color: white;
               text-decoration: none;
               font-size: 20px;
}
.fale_conosco{
    position: relative; /* Define a posição como relativa para as áreas mapeadas */
    width: 100%; /* Largura da div container */
    margin-left: 15%; /* distancia entre as divs */
    /*width: 90%; /* Largura da div */
    height: auto; /* Altura da div */   
   /* width: 200px; /* largura da div */
   /* height: 180px;  /*altura da div */
    
}
.fale_conosco img {
    width:100% Define a largura máxima da imagem como 100% da largura da div */
    height: auto; /* Mantém a proporção da imagem */
    /*display: inline-block; /* Garante que a imagem seja tratada como um elemento de bloco em linha */ 
    
    /*display: inline-block; /* Garante que a imagem seja tratada como um elemento de bloco em linha */
}

.produtos{
    /*background-color: #FFB6C9;*/
    width: 80%; /* Responsivo e define a largura da div menu*/
    border-radius: 20px; 
    text-align: center;  /* Centraliza os links horizontalmente */
    padding: 20px;
    margin: 0 auto; /* Centraliza a div menu na tela */
    justify-content: center;
    align-items: center;*/
}