@charset "UTF8";
/* zera as margens de todos arquivos html*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box; /* Garante que a largura e a altura incluam o preenchimento e a borda, mas não a margem */
 }



body {
    background-color: aquamarine;
}
