body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('fundo_index.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}
